<div class="seller-auth">
<div class="signup">
    <h1>seller signup</h1>
    <form action="" class="common-form" #sellerSignup="ngForm" (ngSubmit)="signup(sellerSignup.value)">
        <input type="text" class="form-input"ngModel name="name" placeholder="name">
        <input type="email"class="form-input" ngModel name="email" placeholder="email">
        <input type="password" class="form-input" ngModel name="pass" placeholder="password">
        <button class="form-button"> singup</button>
    </form>
</div>
</div>